body{
    font-family:"Poppins", serif;
    margin: 0;
    
}
h1{
    font-size: 50px;
}
.name-highlight{
 
   color: orangered;
}

.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.half-width img{
    width: 80%;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-batton{
    text-decoration: none;
    background-image: linear-gradient(45deg, salmon, orangered);
    border-radius: 3px;
    color: white;
    padding: 10px 20px;
    font-weight: 700S;
    
}
.middle-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    padding: 10px 20px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.single{
    box-shadow: 5px 5px 50px gray;
    height: 300px;
}
#full{
    border-left: 10px solid ;
    border-image: linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;
}
#half{
    border-right: 10px solid;
    border-image: linear-gradient(180deg, blue,cyan);
    border-image-slice: 1;
}
p{
    color: gray;
}
